.team {
	position: relative;
	display: flex;
}

.team-letter {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.team-members {
	width: 70rem;
	display: flex;
	flex-flow: row wrap;
}
