.team {
	position: relative;
}

.team-letter {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.team-number {}

.portrait {}

.bio:nth-child(n) {
	font-family: $font-r;
	font-weight: 100;
	color: $white;
	margin-bottom: 1rem;
}

.line {
	width: 30px;
	height: 3px;
	background: $white;
	display: block;
	margin-bottom: 1rem;
}

.name {}

.position {
	margin-bottom: 1rem;
	opacity: (.8)
}

.quote {}
