#nav {
    position: relative;
}

.burger {
    position: absolute;
    top: -40px;
    right: 10%;
    width: 30px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.burger span {
    height: 3px;
    background: $white;
    display: block;
    margin: 3px 0;
}

#nav ul {
    position: absolute;
    top: -20px;
    right: 10%;
}

#nav ul li {
    margin-bottom: 10px;
    color: $white;
    animation: alfa, 1s, 2s, ease;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    font-size: 2em;
}

#menu-change:checked {
    &~ul {
        display: flex;
        flex-direction: column;
    }
    &~.burger span:last-child {
        animation: nav-expand, 2s, linear;
    }
}

#menu-change:not(:checked)~ul {
    display: none;
}

@keyframes nav-expand {
    from {
        padding-top: 3px;
    }
    to {
        padding-top: 170px;
    }
}

@keyframes alfa {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}