.nav {
  position: relative;
  & a {
    color: inherit;
    text-decoration: none;
  }
}

.burger {
  position: absolute;
  top: -40px;
  right: 10%;
  width: 30px;
  cursor: pointer;
  & span {
    height: 3px;
    background: $white;
    display: block;
    margin: 3px 0;
  }
}

.nav ul {
  position: absolute;
  top: -20px;
  right: 10%;
  transform: translateX(20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  height: 0;
  transition: (height) 0.3s linear;
      

  & li {
    position: relative;
    margin-bottom: 10px;
    color: $white;
    font-family: $font-r;
    font-weight: 100;
    font-size: 2rem;
    cursor: pointer;
  }
}

/*checked - unchecked states of burger*/

.menu-change:not(:checked) {
  &~.burger span:first-child {
  transition: 0.3s 0.05s linear;
  }
}

.menu-change:checked {
  &~.burger span:first-child {
    margin-bottom: 17rem;
    transition: 0.3s linear;
  }
  &~ul {
    height: 17rem;
    transition: 0.3s 0.05s linear;
  }
}