html,
body,
div,
span,
applet,
object,
iframe,
h1,
.header-moto,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* _ */
html {
  background-color: #181d3e;
  font-size: 62.5%; }

h1, .header-moto {
  font-family: "Raleway", sans-serif;
  font-weight: 100;
  font-size: 7rem;
  color: white;
  margin-bottom: 3rem; }

.text, .mission-text, .event-text {
  font-size: 19px;
  font-family: "Raleway", sans-serif;
  color: white;
  line-height: 1.3; }

a {
  color: inherit;
  text-decoration: none; }

body {
  background: url("../img/Header/Layer.png") no-repeat, rgba(24, 29, 62, 0.749);
  background-blend-mode: darken;
  background-size: contain;
  background-position: top; }

.projects-team-bg {
  background: url("../img/Projects/projects background.png") top no-repeat, #181d3e;
  background-blend-mode: color-dodge;
  background-size: contain; }

.event-footer-bg {
  background: url("../img/Event/events background.png") top no-repeat, #181d3e;
  background-blend-mode: color-dodge;
  background-size: cover; }

header {
  height: 100vh;
  position: relative;
  text-align: center; }

/*
.head-mask {
  background-color: $blue-mask;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}
*/
.header-logo {
  padding-top: 50px;
  width: 12rem;
  position: relative; }

.header-moto {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 80%; }

.nav {
  position: relative; }

.burger {
  position: absolute;
  top: -4rem;
  right: 10%;
  width: 4rem;
  cursor: pointer; }
  .burger span {
    width: 100%;
    height: 0.3rem;
    border-radius: 0.2rem;
    background: white;
    display: block;
    margin: 0.7rem 0; }

.nav ul {
  position: absolute;
  top: -2rem;
  right: 10%;
  -webkit-transform: translateX(1.5rem);
  transform: translateX(1.5rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
  height: 0;
  -webkit-transition: height 0.1s linear;
  transition: height 0.1s linear; }
  .nav ul li {
    position: relative;
    margin-bottom: 10px;
    color: white;
    font-family: "Raleway", sans-serif;
    font-weight: 100;
    font-size: 2rem;
    cursor: pointer; }

/* checked - unchecked states of burger */
.menu-change:not(:checked) ~ .burger span:first-child {
  -webkit-transition: 0.1s 0.05s linear;
  transition: 0.1s 0.05s linear; }

.menu-change:checked ~ .burger span:first-child {
  margin-bottom: 16rem;
  -webkit-transition: 0.1s linear;
  transition: 0.1s linear; }

.menu-change:checked ~ ul {
  height: 15rem;
  -webkit-transition: 0.1s 0.05s linear;
  transition: 0.1s 0.05s linear; }

.element-number {
  position: relative; }

.element-number-num {
  font-size: 30rem;
  font-family: "Yantramanav", sans-serif;
  color: rgba(255, 255, 255, 0.025);
  line-height: 1.2;
  letter-spacing: -1rem;
  -webkit-transform: scaleX(0.95);
  transform: scaleX(0.95); }

.element-number-label {
  position: absolute;
  font-size: 1.9rem;
  font-family: "Raleway", sans-serif;
  color: lightgray;
  line-height: 1.2;
  letter-spacing: 0;
  -webkit-transform: rotate(-90deg) scale(1.8) translate(20%, -65%);
  transform: rotate(-90deg) scale(1.8) translate(20%, -65%);
  top: 50%;
  left: 50%; }

.element-letter {
  font-size: 120rem;
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  color: #141832;
  opacity: 0.3;
  text-align: left;
  text-shadow: 0 17.8rem 15.2rem rgba(0, 0, 0, 0.7);
  margin-top: -10rem; }

.mission {
  height: 100vh;
  max-width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.mission-number {
  max-width: 26rem; }

.mission-mountains {
  background: url("../img/Mission/mountains.png") no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-box-shadow: 0 17.8rem 15.2rem rgba(0, 0, 0, 0.337);
  box-shadow: 0 17.8rem 15.2rem rgba(0, 0, 0, 0.337);
  width: 66em;
  height: 63em;
  z-index: 1; }

.mission-text {
  text-align: left;
  padding-top: 4rem;
  margin-left: -15rem;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 48rem;
  flex: 0 1 48rem;
  z-index: 1; }

.projects {
  height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  margin-bottom: 5rem; }

.projects-letter {
  position: absolute;
  top: -10%;
  left: 8%; }

.project-logo-wrap {
  max-width: 75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  z-index: 1;
  padding-left: 2rem; }

.p-allitems {
  margin: 0 5rem 10rem 0;
  width: 20rem;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -ms-flex-item-align: start;
  align-self: flex-start; }

.projects-number {
  -webkit-box-flex: 0;
  -ms-flex: 0 5 10rem;
  flex: 0 5 10rem;
  margin: 0 2rem 0 0; }

.team {
  position: relative; }

.team-flex-wrap {
  width: 65%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.team-letter {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.team-number {
  margin: -7rem 18rem 10rem 0; }

.team-members {
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap; }

.member1 {
  background: url("../img/Team/photo1.png") no-repeat;
  background-size: cover;
  background-position: top;
  position: relative;
  width: 63rem;
  height: 63rem;
  -webkit-box-shadow: 0 17.8rem 15.2rem rgba(0, 0, 0, 0.337);
  box-shadow: 0 17.8rem 15.2rem rgba(0, 0, 0, 0.337);
  margin: 2rem 12rem 15rem 0; }
  .member1 .bio {
    position: absolute;
    left: -16rem;
    bottom: 9%; }

.member2 {
  background: url("../img/Team/photo2.png") no-repeat;
  background-size: cover;
  background-position: top;
  position: relative;
  width: 40rem;
  height: 40rem;
  -webkit-box-shadow: 0 17.8rem 15.2rem rgba(0, 0, 0, 0.337);
  box-shadow: 0 17.8rem 15.2rem rgba(0, 0, 0, 0.337);
  -webkit-filter: contrast(92%);
  filter: contrast(92%);
  margin: 0 35rem 15rem 0; }
  .member2 .bio {
    position: absolute;
    right: -29rem;
    bottom: 25%; }

.member3 {
  background: url("../img/Team/photo3.png") no-repeat;
  background-size: cover;
  background-position: top;
  position: relative;
  width: 40rem;
  height: 40rem;
  -webkit-box-shadow: 0 17.8rem 15.2rem rgba(0, 0, 0, 0.337);
  box-shadow: 0 17.8rem 15.2rem rgba(0, 0, 0, 0.337);
  -webkit-filter: contrast(92%);
  filter: contrast(92%);
  margin-top: 13rem; }
  .member3 .bio {
    position: absolute;
    left: -10rem;
    bottom: 13%; }

.member4 {
  background: url("../img/Team/photo4.png") no-repeat;
  background-size: cover;
  background-position: top;
  position: relative;
  width: 40rem;
  height: 40rem;
  -webkit-box-shadow: 0 17.8rem 15.2rem rgba(0, 0, 0, 0.337);
  box-shadow: 0 17.8rem 15.2rem rgba(0, 0, 0, 0.337);
  -webkit-filter: contrast(95%);
  filter: contrast(95%);
  margin: 0 15rem 0 11rem; }
  .member4 .bio {
    position: absolute;
    left: -10rem;
    bottom: 13%; }

.member5 {
  background: url("../img/Team/photo5.png") no-repeat;
  background-size: cover;
  background-position: top;
  position: relative;
  width: 40rem;
  height: 40rem;
  -webkit-box-shadow: 0 17.8rem 15.2rem rgba(0, 0, 0, 0.337);
  box-shadow: 0 17.8rem 15.2rem rgba(0, 0, 0, 0.337);
  -webkit-filter: contrast(92%);
  filter: contrast(92%);
  margin: 15rem 0 11rem; }
  .member5 .bio {
    position: absolute;
    left: 23rem;
    bottom: 13%; }

.bio {
  width: 34.5rem;
  font-family: "Raleway", sans-serif;
  font-weight: 100;
  line-height: 1.2;
  color: white;
  word-break: normal; }

.line {
  width: 5.5rem;
  height: 0.5rem;
  background: white;
  display: block;
  margin-bottom: 2rem; }

.name {
  font-size: 3.5rem;
  margin-bottom: 1rem; }

.position {
  font-size: 1.8rem;
  opacity: 0.5; }

.quote {
  font-size: 1.6rem;
  padding-top: 3rem; }

.event {
  height: 100vh;
  position: relative;
  text-align: center; }

.event-letter {
  position: absolute;
  right: 13%;
  -webkit-filter: brightness(150%) saturate(80%);
  filter: brightness(150%) saturate(80%); }

.event-number {
  display: inline-block;
  margin: 3rem auto; }

.event-text {
  text-align: left;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.item {
  width: 50rem; }

.footer-wrap {
  text-align: center;
  padding-top: 30rem;
  position: relative;
  margin-bottom: 10rem; }

.footer-logo {
  width: 8.5rem;
  margin-bottom: 3rem;
  opacity: 0.2; }

.links {
  font-family: "Raleway", sans-serif;
  font-size: 1.5rem;
  font-weight: 100;
  line-height: 1.2;
  color: white;
  opacity: 0.4;
  margin-bottom: 2rem;
  text-decoration: underline; }

.links a:not(:last-child) {
  margin-right: 2rem; }

.copyrights {
  font-family: "Raleway", sans-serif;
  font-size: 1.5rem;
  font-weight: 100;
  line-height: 1.2;
  color: white;
  opacity: 0.4; }

/*# sourceMappingURL=style.css.map */
