html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/**/
html {
  background-color: #191e3f;
  font-size: 62.5%; }

header {
  height: 100vh;
  background: url("../img/Header/Layer.png") no-repeat;
  background-size: cover;
  background-position: top;
  position: relative; }

.head-mask {
  background-color: rgba(24, 29, 62, 0.749);
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0; }

.header-logo {
  display: inline-block;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  padding-top: 50px; }
  .header-logo img {
    width: 80px; }

.header-moto {
  font-family: "Raleway", sans-serif;
  font-weight: 100;
  font-size: 5em;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: nowrap; }

.nav {
  position: relative; }
  .nav a {
    color: inherit;
    text-decoration: none; }

.burger {
  position: absolute;
  top: -40px;
  right: 10%;
  width: 30px;
  cursor: pointer; }
  .burger span {
    height: 3px;
    background: white;
    display: block;
    margin: 3px 0; }

.nav ul {
  position: absolute;
  top: -20px;
  right: 10%;
  -webkit-transform: translateX(20px);
  transform: translateX(20px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
  height: 0;
  -webkit-transition: height 0.3s linear;
  transition: height 0.3s linear; }
  .nav ul li {
    position: relative;
    margin-bottom: 10px;
    color: white;
    font-family: "Raleway", sans-serif;
    font-weight: 100;
    font-size: 2rem;
    cursor: pointer; }

/* checked - unchecked states of burger */
.menu-change:not(:checked) ~ .burger span:first-child {
  -webkit-transition: 0.3s 0.05s linear;
  transition: 0.3s 0.05s linear; }

.menu-change:checked ~ .burger span:first-child {
  margin-bottom: 17rem;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear; }

.menu-change:checked ~ ul {
  height: 17rem;
  -webkit-transition: 0.3s 0.05s linear;
  transition: 0.3s 0.05s linear; }

.element-number {
  display: inline-block; }

.element-number-num {
  position: relative;
  font-size: 30rem;
  font-family: "Yantramanav", sans-serif;
  color: rgba(255, 255, 255, 0.03);
  line-height: 1.2;
  letter-spacing: -2rem;
  -webkit-transform: scaleY(0.95);
  transform: scaleY(0.95); }

.element-number-label {
  position: absolute;
  font-size: 1.9rem;
  font-family: "Raleway", sans-serif;
  color: white;
  line-height: 1.2;
  letter-spacing: 0;
  -webkit-transform: rotate(-90deg) scale(1.8) translate(20%, -70%);
  transform: rotate(-90deg) scale(1.8) translate(20%, -70%);
  top: 50%;
  left: 50%; }

.element-letter {
  font-size: 100rem;
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  color: #141832;
  opacity: 0.3;
  text-align: left;
  text-shadow: 0 17.8rem 15.2rem rgba(0, 0, 0, 0.549);
  margin-top: -10rem; }

.mission {
  height: 100vh;
  max-width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.mission-number {
  padding-top: 12rem;
  max-width: 25rem; }

.mission-mountains {
  background: url("../img/Mission/mountains.png") no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-box-shadow: 0 17.8rem 15.2rem 0 rgba(0, 0, 0, 0.451);
  box-shadow: 0 17.8rem 15.2rem 0 rgba(0, 0, 0, 0.451);
  width: 66rem;
  max-height: 63rem;
  margin: 3rem 0 -3rem 0; }

.mission-text {
  font-size: 19px;
  font-family: "Raleway", sans-serif;
  color: white;
  line-height: 1.2;
  text-align: left;
  max-width: 48rem;
  padding-top: 24rem;
  margin-left: -20rem;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto; }

.projects {
  height: 100vh;
  background-image: url("../img/Projects/projects background1.png");
  background-size: cover;
  background-position: top;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline; }

.projects-letter {
  position: absolute;
  top: 1%;
  left: 5%;
  overflow: hidden; }

.project-logo-wrap {
  max-width: 75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  z-index: 1;
  padding-left: 2rem; }

.p-allitems {
  margin: 0 5rem 10rem 0;
  width: 20rem;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -ms-flex-item-align: start;
  align-self: flex-start; }

.projects-number {
  -webkit-box-flex: 0;
  -ms-flex: 0 5 10rem;
  flex: 0 5 10rem;
  margin-right: 2rem; }

/*# sourceMappingURL=style.css.map */
