$white: rgb(255, 255, 255);
$blue: rgb(25, 30, 63);
$blue-mask: rgba(24, 29, 62, 0.749);
$shadow:rgba(0, 0, 0, 0.451);
$box-shadow: (0 17.8rem 15.2rem rgba(0, 0, 0, 0.337));
$letter-blue: rgb(20, 24, 50);
$letter-shadow: (0 17.8rem 15.2rem rgba(0, 0, 0, 0.7));
$font-r: ('Raleway', sans-serif);
$font-y: ('Yantramanav', sans-serif);

/**/

html {
	background-color: $blue;
	font-size: 62.5%;
}
