$white: rgb(255, 255, 255);
$blue: rgb(25, 30, 63);
$blue-mask: rgba(25, 30, 63, 0.749);
$shadow:rgba(0, 0, 0, 0.451);
$box-shadow: (0 17.8rem 15.2rem 0 rgba(0, 0, 0, 0.451));
$font-r: ('Raleway', sans-serif);
$font-y: ('Yantramanav', sans-serif);

html {
  background-color: $blue;
  font-size: 62.5%;
}
