.mask {
    background-color: #191e3f;
    box-shadow: 0px 178px 152px 0px rgba(0, 0, 0, 0.451);
    position: absolute;
    left: 540px;
    top: 1185px;
    width: 660px;
    height: 660px;
    z-index: 13;
}

.mountains {
    background-image: url("mountains.png");
    opacity: 0.631;
    position: absolute;
    left: 374px;
    top: 1212px;
    width: 850px;
    height: 634px;
    z-index: 14;
}

//   .mission {
//     font-size: 19px;
//     font-family: "Raleway";
//     color: rgb(255, 255, 255);
//     line-height: 1.2;
//     text-align: left;
//     -moz-transform: matrix( 0,-1.77006588059939,1.80146147651326,0,0,0);
//     -webkit-transform: matrix( 0,-1.77006588059939,1.80146147651326,0,0,0);
//     -ms-transform: matrix( 0,-1.77006588059939,1.80146147651326,0,0,0);
//     position: absolute;
//     left: 413.93px;
//     top: 1511.1px;
//     z-index: 18;
//   }
//   ._01 {
//     font-size: 286px;
//     font-family: "Yantramanav";
//     color: rgba(255, 255, 255, 0.012);
//     line-height: 1.2;
//     text-align: left;
//     position: absolute;
//     left: 303.938px;
//     top: 1349.9px;
//     z-index: 17;
//   }
//   .Is_allowance_instantly_strangers_applauded_disc {
//     font-size: 19px;
//     font-family: "Raleway";
//     color: rgb(255, 255, 255);
//     line-height: 1.2;
//     text-align: left;
//     position: absolute;
//     left: 1063.136px;
//     top: 1454.035px;
//     width: 474px;
//     height: 178px;
//     z-index: 15;
//   }