.mountains {
    background: url("../img/Mission/mountains.png") no-repeat;
    background-position: top left;
    box-shadow: 0px 178px 152px 0px rgba(0, 0, 0, 0.451);
    width: 660px;
    height: 630px;
}

.mission-text {
    font-size: 19px;
    font-family: $font-r;
    color: $white;
    line-height: 1.2;
    text-align: left;
    width: 600px;
}

//   .mission {
//     font-size: 19px;
//     font-family: "Raleway";
//     color: rgb(255, 255, 255);
//     line-height: 1.2;
//     text-align: left;
//     -moz-transform: matrix( 0,-1.77006588059939,1.80146147651326,0,0,0);
//     -webkit-transform: matrix( 0,-1.77006588059939,1.80146147651326,0,0,0);
//     -ms-transform: matrix( 0,-1.77006588059939,1.80146147651326,0,0,0);
//     position: absolute;
//     left: 413.93px;
//     top: 1511.1px;
//     z-index: 18;
//   }
//   ._01 {
//     font-size: 286px;
//     font-family: "Yantramanav";
//     color: rgba(255, 255, 255, 0.012);
//     line-height: 1.2;
//     text-align: left;
//     position: absolute;
//     left: 303.938px;
//     top: 1349.9px;
//     z-index: 17;
//   }
//   .Is_allowance_instantly_strangers_applauded_disc {
//     font-size: 19px;
//     font-family: "Raleway";
//     color: rgb(255, 255, 255);
//     line-height: 1.2;
//     text-align: left;
//     position: absolute;
//     left: 1063.136px;
//     top: 1454.035px;
//     width: 474px;
//     height: 178px;
//     z-index: 15;
//   }