.mission {
  height: 100vh;
  max-width: 100vw;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.mission-number {
  padding-top: 12rem;
  max-width: 25rem;
}

.mission-mountains {
  background: url("../img/Mission/mountains.png") no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: $box-shadow;
  width: 66rem;
  max-height: 63rem;
  margin: 3rem 0 -3rem 0;
}

.mission-text {
  font-size: 19px;
  font-family: $font-r;
  color: $white;
  line-height: 1.2;
  text-align: left;
  max-width: 48rem;
  padding-top: 24rem;
  margin-left: -20rem;
  flex: 1 1 auto;
}
