.projects {
  height: 100vh;
  background: url("../img/Projects/projects background.png") top no-repeat, $blue;
  background-blend-mode: color-dodge;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.projects-letter {
  position: absolute;
  top: -10%;
  left: 8%;
}

.project-logo-wrap {
  max-width: 75rem;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  justify-content: flex-end;
  z-index: 1;
  padding-left: 2rem;
}

.p-allitems {
  margin: 0 5rem 10rem 0;
  width: 20rem;
  flex: 0 1 auto;
  align-self: flex-start;
}

.projects-number {
  flex: 0 5 10rem;
  margin: 0 2rem 0 0;
}
