.projects {
	height: 100vh;
	background-image: url("../img/Projects/projects background1.png");
	background-size: cover;
	background-position: top;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: baseline;
}

.projects-letter {
	position: absolute;
	top: 1%;
	left: 5%;
	overflow: hidden;
}

.project-logo-wrap {
	max-width: 75rem;
	display: flex;
	flex-flow: row wrap;
	align-content: flex-start;
	justify-content: flex-end;
	z-index: 1;
	padding-left: 2rem;
}

.p-allitems {
	margin: 0 5rem 10rem 0;
	width: 20rem;
	flex: 0 1 auto;
	align-self: flex-start;
}

.projects-number {
	flex: 0 5 10rem;
	margin-right: 2rem;
}
